---
---

@import "{{ site.theme }}";
.parent {
  position: relative;
  top: 0;
  left: 0;
  
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
  max-width: 175px;
  max-height: 175px;

}
.image2 {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index:-1;
  max-height: 200px;
  overflow: hidden;
}

.main {
    display:block;
    position:relative;
    width: 100%;
    height: 200px;
    margin: auto;
}
.cover {
    display:block;
    position:relative;
    height:200px;
    overflow:hidden;
    z-index:-1;
}
.cover img {
    max-width:100%;
    z-index:-1;
}
.profile {
    display:block;
    position:relative;
    height:auto;
    margin: -195px 0 10px 30px;
    z-index:999;
}
.profile img {
    max-width: 25%;
    z-index:999;
}
